language: cpp
branches:
  only:
  - 1\.8

env:
  global:
    secure: QG43qvgGRWn7oZhLOJoA0VglPl7S9+uLj3PKDfAMrWkfFiMXk+IirJuLqXoOnKkR0z8Vebd7tYOrMwEa/moASLc7Hl7ak4r9b6A787eiyUZVBLtH5iuFjvwGsJHp9OzSucoXGw3xa21OIT3Ovmnsr7JRUvk1sSueIPcYqTYOrBtjwwSV3zYhmDC71IX1epnF5zP1eshb8I9vwYu2DKMQ8Aml1oL9acvckaDM3DeSJBIZQ+Mfd/X04nJT58Anhp3OkLesWV+fmh28KGeyhYer/ewI0D07p1SyKnlnhJ295chlAl+PE8lGaJiVCPKzkkovPZEiLBHZ+mV8ShnG3N6qqxtALCbJqwlLihMLee7oE8ShnbLkbxKIBCmdUc8lEqrMSMz0+YsKPds/x0SgbI1cA2RVSyUREVR1dm6isl9Ugd6FP+NivY2W3otJKf8E3YkOun3D84ryhaN3+yWR3s9Je3OPIfz7PjHvpHop7ETK8erm5FYchRr+61GCIh7llK6Y/S6y8bOTbfocnaEo4X+u0z+vCNWHMsyg7l+/ptYUQq3vpDg3NVAM/MGLjALv5lqoOe51kJchmwBsHiQDq51BX8Pco2cF6gBRgsTEBBeBIb3rUdwXufsU2ce3QBGPg7SRw+tIvHrjPJiEwwdQAw+ruqXgnS22/nT51/l34EDvXC4=

before_install:
- sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/xUbuntu_12.04/
  /' >> /etc/apt/sources.list.d/owncloud-client.list"
- sudo sh -c "echo 'deb-src http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/xUbuntu_12.04/
  /' >> /etc/apt/sources.list.d/owncloud-client.list"
- wget http://download.opensuse.org/repositories/isv:ownCloud:desktop/xUbuntu_12.04/Release.key
- sudo apt-key add - < Release.key
- sudo apt-get update
- sudo apt-get build-dep owncloud-client
- checkout=$(git show-ref --head --hash head)
- cd ../
- wget https://scan.coverity.com/download/linux-64 --post-data "token=$token&project=owncloud%2Fmirall" -O coverity_tool.tgz
- mkdir coverity
- tar -xvf coverity_tool.tgz -C coverity --strip-components=1
- export PATH=$PATH:$PWD/coverity/bin/
- cd $TRAVIS_BUILD_DIR

install:
- cd ../
- mkdir client-build
- cd client-build
- cmake -DCMAKE_BUILD_TYPE="Debug" $TRAVIS_BUILD_DIR
- cov-build --dir cov-int make
- tar czvf client.tgz cov-int 
- curl --form token=$token \
  --form email=lukas@statuscode.ch \
  --form file=@$PWD/client.tgz \
  --form version="Master as of $checkout" \
  --form description="$checkout" \
  https://scan.coverity.com/builds?project=owncloud%2Fmirall
