branches:
  only:
    - master

before_install:
  - sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/xUbuntu_12.04/ /' >> /etc/apt/sources.list.d/owncloud-client.list"
  - sudo apt-get update
  - sudo apt-get build-dep owncloud-client
  
 install:
  - cd ../
  - mkdir client-build
  - cd client-build
  - cmake -DCMAKE_BUILD_TYPE="Debug" ../client
  - make 
